{% extends "layout.html" %}
{% block title %}tiny prints{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
{%if upvote_form %}
<form id="upvote-form" action="" method="POST" class="upvote" hidden>
  {{upvote_form.tiny_text_id(type='hidden')}}
  {{upvote_form.hidden_tag()}}
  {{upvote_form.submit_upvote()}}
</form>
{% endif %}
<h1>{{ site_data['title'] }}</h1>
<div>{{ site_data['msg'] }}</div>
<div class="tiny-print-container">
  {% for tiny_text in tiny_texts %}
  <div class="tiny-print">
    <h3><span class="vote-counter">{{tiny_text.votes}}</span>
      {% if upvote_form %}
        {% if tiny_text.id in past_upvotes %}
        <span title="you already upvoted this one" class="upvoted">▵</span>
        {% else %}
        <span title="upvote" class="upvote-possible" onclick="upvote({{tiny_text.id}})">▲</span>
        {% endif %}
      {% endif %}
      {{ tiny_text.title }}
    </h3>
    <textarea name="tinytext" cols="32" rows="24" disabled wrap="hard" spellcheck="false"
      class="tiny-text-area">{{ tiny_text.text }}</textarea>
    <div class="timestamp"><a href="/t/{{tiny_text.id}}">#{{ tiny_text.id }} - {{ tiny_text.created.strftime("%Y-%m-%d
        %H:%M UTC") }}</a></div>
  </div>
  {% endfor %}
</div>

{% endblock %}