<!doctype html>
<html lang="en">

<head>
  {% block head %}
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>{% block title %}{% endblock %} 🖨️</title>
  {% endblock %}
</head>

<body>
  <nav class="nav">
    <a href="/">🏠 home</a>
    <a href="/new">✨ new</a>
    <a href="/hot">🔥 hot</a>
    <a href="/top">🏆 top</a>
    <a href="/create">📄 create</a>
  </nav>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="msgs">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  {% endwith %}
  <div id="content">{% block content %}{% endblock %}</div>
  <div id="footer">
    <p><a href="https://avra.io/" target="_blank" rel="noopener">👨🏻‍💻 avra</a></p>
  </div>
  <script src="{{ url_for('static', filename = 'tinyprint.js') }}"></script>

</body>

</html>