{% extends "layout.html" %}
{% block title %}new tiny print{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<h1>create a tiny print</h1>
<p>{{ msg }} </p>
<div>
  <form action="" method="POST" id="newtinyprint">
    {{ form.tiny_text(cols=32, rows=24, placeholder='you can use 32 characters, per line and 24 lines.',
    maxlength=792, required=true, autocomplete='off', spellcheck=false, wrap='hard') }}
    <br>
    {{ form.hidden_tag() }}
    {{ form.title(placeholder='title', maxlength=32, autocomplete='off', spellcheck=false) }}
    {{ form.submit() }}
  </form>
  <p>by posting you accept the <span>rules</span></p>
</div>
<script src="{{ url_for('static', filename = 'tinytext.js') }}"></script>
{% endblock %}